body {
  background-color: #f0f5fc;
  text-align: center;
}


/*.diagonal-box {
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    transform: skewY(-11deg);
}

.content {
	
    transform: skewY(11deg);
}*/

h1 {
    font-family: "Verdana";
    font-size: 30px;
    font-style: oblique; 
}

h2 {
    font-family: "Lucida Console";
    font-size: 18px;
    padding: 5px;
}

#top {
  opacity: 0.75;
  background-color: blueviolet;
  padding: 15px;
}

#bottom {
  opacity: 0.75;
  background-color: blueviolet;
  padding: 15px;
}

