.hero-body {
  background-color: #DAD8DB;
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
  border-radius: 50px;
}

#login-section{
    background-color: blueviolet;
    border-radius: 50px;
}

body{
    background-color: black;
}